<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign the guest book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <form class='sign-in' action="{% url 'sign' %}" method="POST" >
        {% csrf_token %}
        <h2>Sign the guest book</h2>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"></label>
            {{form.name}}
            <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name"> -->
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"></label>
            <!-- <textarea type="text" class="form-control" id="formGroupExampleInput2" rows='5' placeholder="comment" required></textarea> -->
            {{form.comment}}
          </div>
        <button class = 'btn btn-lg btn-primary btn-block ' type="submit">Sign</button>
      </form>
      </div> <!-- /container -->
</body>
</html>